<html>

<head>
    <!-- Home page Title -->
    <title>Two Tickets to Nowhere Home Page </title>
    <link rel="stylesheet" href='static/home.css'/>
</head>

<body>
    <h1 id='HomeHeader' > Premier Event Ticketing Fraud Detection! </h1>

    <p id='HomeHeader2'> The place to go when you want to find out if an event is real!

    </p>

    <!-- Fraud image -->
    <img src='https://media2.giphy.com/media/3ohzdJeMka5heqSbZu/200w.webp?cid=3640f6095c8af66f376445396fa7e70b'>
    
    
    
    <!-- Links to score dashboard, Fraud wiki page, and our github -->
    <ul>
        <li>
            <a href='/score'>Scores</a>
        </li>
        
        <li>
            <a href="https://en.wikipedia.org/wiki/Fraud"> Wiki </a>
        </a></li>

        <li>
            <a href="https://github.com/karinapatel/dsi-fraud-detection-case-study.git"> About Us: GitHub </a>
        </li>
    </ul>

</body>

</html>